body{
    background-color: beige;
    color: black;
}
.tasks-list li{
    list-style: none;
    list-style-type: none;
}
.done {
	background: #51DF70 !important;
	color: #00891E;
}

.delete {
	display: none;
}